.col {
  float: left;
  box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0px;
}

@media all and (max-width: 900px) {
  [class*='col-'] {
    width: 100%;
  }
}
